@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}
#canvas {
  height: 100vh;
  width: 100vw;
  display: block;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: crosshair;
}
.cursor {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  /* background-color: black; */
  pointer-events: none;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
.tools {
  height: auto;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.tool {
  margin: 3px 10px;
  width: 40px;
  height: 40px;
  border: 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
}
.tool img {
  height: 80%;
}
.toolSelected {
  transform: scale(1.1);
  opacity: 1;
}
.colors {
  width: 100%;
  height: auto;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c0c0c0;
}
.color {
  margin: 3px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  border-top: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(192, 192, 192);
  border-bottom: 1px solid rgb(192, 192, 192);
  cursor: pointer;
}

.selected {
  border: 1px solid #000;
}
.selectedColor {
  display: inline-block;

  position: relative;
  top: -12px;
}

.colorList {
  display: inline-block;
}
.options {
  text-align: right;
  height: auto;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.options input[type="color" i] {
  outline: none;
  border: none;
  background-color: transparent;
  color: transparent;
  width: 40px;
  height: 40px;
}
.options input {
  margin: 0px 50px 0px 5px;
}
/*  */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  position: absolute;
  top: -50px;
  left: -5px;
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
}
.card .title {
  font-size: 1.2em;
  font-weight: 700;
}
.card #text {
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}
.card .btn {
  display: inline-block;
  margin: 10px;
  float: right;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

.card .btn.add {
  background-color: black;
  color: #fff;
}

#x,
#y {
  width: 90%;
  padding: 10px;
}
